<header>
    <nav class="navbar bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/stories">Public Stories</a></li>
                    <li><a href="/users/logout" class="btn btn-primary text-white">Log Out</a>                   
                </ul>
            </div>
            <div class="font-title text-primary inline-flex text-lg md:text-3xl pl-2">
                <span>Travel</span>
                <span class="text-base-content">Stories</span>
            </div>
            {{!-- <a href="/"><img src="/img/logo.png" alt="TravelStories"></a> --}}
        </div>
        <div class="navbar-end hidden lg:flex">
            <ul class="menu menu-horizontal p-0 gap-5 pr-2">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/stories">Public Stories</a></li>
                <li><a href="/users/logout" class="btn btn-primary text-white">Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>