<div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body items-center text-center">
        <a class="m-5" href="/"><img src="/img/logo.png" alt="TravelStories"></a>
        <p>Looking for a place to share your recent travel stories? Here at TravelStories, users are able to publish private or public stories and view other publicly shared stories.</p>
        <div class="card-actions justify-end py-5">
            <a href="/users/login" class="btn btn-primary">Log In</a>
            <a href="/users/register" class="btn btn-accent">Register</a>
        </div>
    </div>
</div>


{{!-- <p class="text-gray-700 text-base py-5">
</p>

<div class="flex items-center gap-3 py-5">
    <a href="/users/login" class="inline-block align-baseline bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Log In</a>
    <a href="/users/register" class="inline-block align-baseline bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Register</a>
</div> --}}