<div class="mx-auto w-96 card my-5 bg-base-100 shadow-xl">
    <div class="card-body">
        <h1 class="card-title">Server Error</h1>
        <p class="text-gray-700 text-base py-5">We're sorry, something went wrong.</p>
        <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a>
    </div>
</div>