<div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
        {{> _error_message}}
        <h1 class="card-title mt-5">Login</h1>
        <form action="/users/login" method="POST">
            <div class="form-control">
                <label class="label" for="username">
                    <span class="label-text">Username</span>
                </label>
                <input name="username" id="username" type="username" class="input input-secondary w-full max-w-xs" placeholder="Username">
            </div>
            <div class="form-control">
                <label class="label" for="password">
                    <span class="label-text">Password</span>
                </label>
                <input name="password" id="password" type="password" class="input input-secondary w-full max-w-xs" placeholder="*******">
            </div>
            <div class="flex items-center justify-between pt-10"> 
                <button class="btn btn-primary" type="submit">
                    Sign In
                </button>
                <a href="/users/register/" class="link link-primary">
                    Don't have an account?
                </a>
            </div>
        </form>
    </div>
</div>