<div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
        {{> _error_message}}
        <h1 class="card-title mt-5">Register</h1>
        <form class="w-full max-w-lg" action="/users/register" method="POST">
            <div class="form-control">
                <label class="label" for="username">
                    <span class="label-text">Username</span>
                </label>
                <input id="username" name="username" type="username" required class="input input-secondary w-full max-w-xs" placeholder="Username" value="{{checkField username}}">
            </div>
            <div class="form-control">
                <label class="label" for="email">
                    <span class="label-text">Email</span>
                </label>
                <input id="email" name="email" type="email" required class="input input-secondary w-full max-w-xs"  placeholder="Email" value="{{checkField email}}">
            </div>
            <div class="form-control">
                <label class="label" for="password">
                    <span class="label-text">Password</span>
                </label>
                <input id="password" name="password" required type="password" class="input input-secondary w-full max-w-xs" placeholder="*******" value="{{checkField password}}">
            </div>
            <div class="form-control">
                <label class="label" for="password2">
                    <span class="label-text">Confirm Password</span>
                </label>
                <input id="password2" name="password2" required type="password" class="input input-secondary w-full max-w-xs" placeholder="*******" value="{{checkField password2}}">
            </div>
            <div class="flex items-center justify-between pt-10">
                <button class="btn btn-primary" type="submit">
                    Register
                </button>
                <a href="/users/login/" class="link link-primary">
                    Already have an account?
                </a>
            </div>
        </form>
    </div>
</div>